<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ProiectPAW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <ProiectPAW.Properties.Settings>
            <setting name="dbHostname" serializeAs="String">
                <value>sql7.freemysqlhosting.net</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="dbDatabase" serializeAs="String">
                <value>sql7287025</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>sql7287025</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>DEtyr9egBg</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>nu merge</value>
            </setting>
        </ProiectPAW.Properties.Settings>
    </userSettings>
</configuration>
